language: node_js
node_js:
    - "8.6.0"
    - "9"
    - "10"

script:
    - "npm run lint"

after_success:
    - docker build -t latest .
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
    - docker push $DOCKER_USERNAME/phabribot:latest
